<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/static/css/style.css" />

		<title>Home</title>
	</head>
	<body>
		<nav>
			<h2>Speech Emotion Recognition</h2>
			<ul>
				<li>
					<a href="/"><span>Home</span></a>
				</li>
				<li>
					<a href="SignIn"><span>Login</span></a>
				</li>
				<li>
					<a href="Registration"><span>Register</span></a>
				</li>
			</ul>
		</nav>

		<div class="container mt-4">
			<div class="jumbotron">
				<h1 class="display-4">Speech Emotion Recognition</h1>
				<hr class="my-4" />
				<p>
					Speech Emotion Recognition is the task of recognising different emotions from audio file uploaded by
					the user. For this, user has to first do registration for uploading the file. Then user will upload
					a .wav audio file which will get store in the backend and then emotion is predicted on the basis of
					gender.
				</p>
				<p>
					This can be used further in various application such as Hospital Feedback system, Psychological
					applications, Mood-synchronizing music players etc.
				</p>
			</div>
		</div>
	</body>
</html>
